
[project]
name = "python-template"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
requires-python = ">=3.11"
dependencies = [
    "pandas",
    "matplotlib",
    "seaborn",
    "numpy",
    "pydantic>=2.11.7",
    "uvicorn>=0.34.3",
    "fastapi>=0.115.12",
]
